<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="textProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>/WEB-INF/properties/informative.properties</value>
				<value>/WEB-INF/properties/items.properties</value>
				<value>/WEB-INF/properties/monsters.properties</value>
				<value>/WEB-INF/properties/rooms.properties</value>
			</list>
		</property>
	</bean>
	
	<!-- Jedis ConnectionFactory -->
	<bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory" />

	<!-- redis template definition -->
	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate" p:connection-factory-ref="jedisConnectionFactory" />
	
	<!-- Attribute Priority Strategies -->
	<bean id="clericAttributePriorityStrategy" class="com.smud.model.character.ClericAttributePriorityStrategy"/>
	<bean id="mageAttributePriorityStrategy" class="com.smud.model.character.MageAttributePriorityStrategy"/>
	<bean id="thiefAttributePriorityStrategy" class="com.smud.model.character.ThiefAttributePriorityStrategy"/>
	<bean id="warriorAttributePriorityStrategy" class="com.smud.model.character.WarriorAttributePriorityStrategy"/>

	<bean id="attributeGenerator" class="com.smud.model.character.AttributeGenerator">
		<property name="attributePriorityStrategies">
			<map>
				<entry key="CLERIC" value-ref="clericAttributePriorityStrategy"/>
				<entry key="MAGE" value-ref="mageAttributePriorityStrategy"/>
				<entry key="THIEF" value-ref="thiefAttributePriorityStrategy"/>
				<entry key="WARRIOR" value-ref="warriorAttributePriorityStrategy"/>
			</map>
		</property>
	</bean>
	
	<bean id="random" class="java.util.Random"/>
	
	<bean id="dice" class="com.smud.model.Dice"/>

</beans>